       
<template>
  <vs-row vs-justify="center">
    <vs-col type="flex" justify="center" vs-justify="center" vs-align="center" vs-lg="12" vs-xs="12">
        <vs-row vs-justify="center">
            <vs-col type="flex" justify="center" vs-justify="center" vs-align="center" vs-lg="6" vs-xs="6">
                <h3 class="card-title d-flex" style="color:#676767">
                {{this.headerTitle}} Client
                </h3>
            </vs-col>
            <vs-col type="flex" vs-justify="center" vs-align="center" vs-lg="6" vs-xs="6">
                <vs-breadcrumb align="right" class="ml-auto" >
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link :to="{path:'/'}" class="router-link-active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-text-top feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </router-link>
                        </li>
                        <li class="breadcrumb-item">
                            <router-link :to="{path:'/clientlist'}"> clientlist </router-link>
                        </li>
                        <li class="breadcrumb-item active">
                            <span aria-current="location"> {{this.client.ClientId?'update':'new'}} </span>
                        </li>
                    </ol>
                </vs-breadcrumb>
            </vs-col>
        </vs-row>
        <vs-card class="cardx">
            <h5 class="card-title d-flex" style="color:#84828b">
                <!-- Add Content -->
                <v-btn rounded color="#FF9F43" v-on:click="redirect" tag="button" class="white--text vs-button ml-auto">back</v-btn>
            </h5>
            <v-stepper v-model="e1">
                <v-stepper-header>
                    <v-stepper-step
                        :complete="e1 > 1"
                        step="1"
                    >
                        Client info
                    </v-stepper-step>

                    <v-divider>
                    </v-divider>
                    <v-stepper-step
                        :complete="e1 > 2"
                        step="2"
                    >
                        Family Members
                    </v-stepper-step>
                </v-stepper-header>
                <v-stepper-items>
                    <v-stepper-content step="1">
                        <v-card>
                            <v-row>
                                <v-col cols='6' class='pr-5'>
                                    <v-text-field label="Name" dense
                                    color="black lighten-3" outlined clearable
                                    placeholder="Client name"
                                    id="Name"
                                    v-model="client.Name"
                                    type="text"
                                    name="Name"
                                    maxlength="250"
                                    counter
                                    />
                                </v-col>
                                <v-col cols='6' class='pr-5'>
                                    <v-text-field label="LastName" dense
                                    color="black lighten-3" outlined clearable
                                    placeholder="LastName"
                                    id="LastName"
                                    v-model="client.LastName"
                                    type="text"
                                    name="LastName"
                                    maxlength="250"
                                    counter
                                    />
                                </v-col>
                            </v-row>
                           <v-row>
                                <v-col cols='12' class='pr-5'>
                                    <v-text-field label="Address" dense
                                    color="black lighten-3" outlined clearable
                                    placeholder="Address"
                                    id="Address"
                                    v-model="client.Address"
                                    type="text"
                                    name="Address"
                                    maxlength="250"
                                    counter
                                    />
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols='6' class='pr-5'>
                                    <v-text-field label="Phone" dense
                                    color="black lighten-3" outlined clearable
                                    placeholder="Phone"
                                    id="Phone"
                                    v-model="client.Phone"
                                    type="text"
                                    name="Phone"
                                    maxlength="250"
                                    counter
                                    />
                                </v-col>
                                <v-col cols='6' class='pr-5'>
                                    <v-text-field label="Email" dense
                                    color="black lighten-3" outlined clearable
                                    placeholder="Email"
                                    id="Email"
                                    v-model="client.Email"
                                    type="text"
                                    name="Email"
                                    maxlength="250"
                                    counter
                                    />
                                </v-col>
                            </v-row>
                        </v-card>
                       
                        
                        <v-btn
                        color="primary"
                        @click="createContent"
                        >
                        Continue
                        </v-btn>
                        <v-btn text>
                        Cancel
                        </v-btn>
                    </v-stepper-content>
                     <v-stepper-content step="2">
                        <v-card>
                            <v-row>
                                <v-col cols='12' class='pr-5'>
                                    <h3 class="card-title d-flex">
                                    <v-btn rounded  color="#FF9F43"  tag="button" class="white--text vs-button ml-auto">Create Client</v-btn>
                                    </h3>
                                    <div >
                                    <vs-table stripe pagination max-items="5" :hoverFlat="true" search :data="familyMember">
                                        <template slot="header">
                                        <h5 class="m-4" style="color:#84828b">
                                            search
                                        </h5>
                                        </template>
                                        <template slot="thead">
                                            <vs-th class="td-center" sort-key="ClientId">
                                            Id
                                            </vs-th>
                                            <vs-th class="td-center" sort-key="Name">
                                            Nombres
                                            </vs-th>
                                            <vs-th sort-key="LastName">
                                            Apellidos
                                            </vs-th>
                                           
                                            <vs-th class="td-center">
                                            <span>accions</span>
                                            
                                            </vs-th>
                                        </template>
                                        <template slot-scope="{data}">
                                        <vs-tr :key="indextr" v-for="(tr, indextr) in data" >
                                        <vs-td class="td-center" :data="data[indextr].ClientId">
                                            {{data[indextr].ClientId}}
                                        </vs-td>

                                        <vs-td :data="data[indextr].Name">
                                            {{data[indextr].Name}}
                                        </vs-td>

                                        <vs-td :data="data[indextr].LastName">
                                            {{data[indextr].LastName}}
                                        </vs-td>
                                       
                                        <vs-td class="table-actions" :data="data[indextr]">
                                            
                                            <button 
                                            type="button" class="btn edit btn-icon btn-round btn-warning2 btn-sm">
                                            <vs-icon icon="edit"></vs-icon>
                                            </button>
                                            <button 
                                            type="button" class="btn remove btn-icon btn-round btn-danger btn-sm">
                                            <vs-icon icon="delete"></vs-icon>
                                            </button>
                                        </vs-td>
                                        
                                        </vs-tr>
                                        </template>
                                    </vs-table>
                                    </div>
                                </v-col>
                            </v-row>
                        </v-card>
                       
                        
                        <v-btn
                        color="primary"
                        @click="createContent"
                        >
                        Continue
                        </v-btn>
                        <v-btn text @click="Cancel">
                        Cancel
                        </v-btn>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>
             <!-- <div class="message" v-if="submitted"
                >
                Thank you for your submission.
            </div> -->
        </vs-card>
    </vs-col>
  </vs-row>
</template>
<style lang='css'>
    ol {
        padding: 0!important;
    }

</style>
<script>
import Client from './client.js';
import axios from '../../axios.js';

export default {
    props: {
        index: {
            default: null,
            type: [String, Number]
        },
        email:{
            type: String,
            default:'Admin@gmail.com'
            },
        clientData:{
            type:Object,
            default:() => ({
                user_id:0,
                ClientId:0,
                Name: '',
                LastName: '',
                Address : '',
                Phone : '',
                Email : '',
            })

        }
    },
    data:function() { return{
        e1: 1,
        clientId:0,
        userId:0,
        submitted: false,
        errors : [],
        client : new Client(this.clientData,this),
        headerTitle : 'Create',
        clientText:'',
        currentField:'',
        page: 1,
        max: 10,
        familyMember: [],
        editedIndex:0,
        editedItem:{},

        }
    },
    methods:{
        createContent: function () {
            this.submitted = true
            this.errors = [];

            if (!this.client.Name) {
                this.errors.push('name is empty.');
            }
            if (!this.client.LastName) {
                this.errors.push('lastname is empty.');
            }
            if(this.client.ClientId){
                this.client.put('client/update');
                this.e1 = 2
            }else{
                this.client.post('client/insert');
                this.e1 = 2
            }

            //this.$router.push({ name: 'clientlist' });
        },
        Cancel: function () {
            this.e1 = 1;

            //this.$router.push({ name: 'clientlist' });
        },
        redirect: function () {
            this.$router.push({ name: 'clientlist' });
        },
        isNumeric: function (n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        },
        
        onError: function (e) {
            //alert('Failed to copy the text to the clipboard')
            console.log(e);
        }
    },
    computed: {
        //This is for mobile trigger
        user: {
          get() {
            return  0//this.$store.state.activeUser
          },
          set() {
          }
        },
         wrongNumber: function () {
            return this.isNumeric(this.number) === false
        },
    },
    created(){
        let self =this;
        if(this.isNumeric(this.$route.params.id)){
            this.clientId =this.$route.params.id;
        }
        if(this.clientId){
            this.$vs.loading();
            new Promise((resolve,reject)=>{
                axios.get('client/get/'+self.clientId)
                    .then(response => {
                        let data = response.data.Data;
                        if(data){
                            self.client = new Client(data, self)
                        }
                        resolve(response);
                    })
                    .catch(err => {
                        reject(new Error(err.message));
                    });
                }).finally(() => this.$vs.loading.close());
            this.headerTitle = 'Update';
        }
        
        this.client.user_id = this.user; //this.user.id;

    }
};

</script>
