<template>
  <vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-lg="12" vs-xs="12">
      <vs-row vs-justify="center">
        <vs-col type="flex" justify="center" vs-justify="center" vs-align="center" vs-lg="6" vs-xs="6">
          <h3 class="card-title d-flex" style="color:#676767">
          Clientes
          </h3>
        </vs-col>
        <vs-col type="flex" vs-justify="center" vs-align="center" vs-lg="6" vs-xs="6">
          <vs-breadcrumb align="right">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <router-link :to="{path:'/'}" class="router-link-active">
                <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="align-text-top feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                </router-link>
              </li>
              <li class="breadcrumb-item active">
                <span aria-current="location"> ClientList </span>
              </li>
            </ol>
            
          </vs-breadcrumb>
        </vs-col>
      </vs-row>
     
      <vs-card class="cardx">
        <h3 class="card-title d-flex">
          <v-btn rounded  color="#FF9F43" v-on:click="createClient" tag="button" class="white--text vs-button ml-auto">Create Client</v-btn>
        </h3>
        <div >
          <vs-table stripe pagination max-items="5" :hoverFlat="true" search :data="clients">
            <template slot="header">
              <h5 class="m-4" style="color:#84828b">
                search
              </h5>
            </template>
            <template slot="thead">
                <vs-th class="td-center" sort-key="ClientId">
                  Id
                </vs-th>
                <vs-th class="td-center" sort-key="Name">
                  Nombres
                </vs-th>
                <vs-th sort-key="LastName">
                  Apellidos
                </vs-th>
                <vs-th>
                  Dirección
                </vs-th>
                <vs-th>
                  Telefono
                </vs-th>
                <vs-th>
                  E mail
                </vs-th>
                <vs-th class="td-center">
                  <span>accions</span>
                  
                </vs-th>
            </template>
            <template slot-scope="{data}">
            <vs-tr :key="indextr" v-for="(tr, indextr) in data" >
              <vs-td class="td-center" :data="data[indextr].ClientId">
                {{data[indextr].ClientId}}
              </vs-td>

              <vs-td :data="data[indextr].Name">
                {{data[indextr].Name}}
              </vs-td>

              <vs-td :data="data[indextr].LastName">
                {{data[indextr].LastName}}
              </vs-td>

              <vs-td :data="data[indextr].short_description">
                {{data[indextr].Address}}
              </vs-td>

              <vs-td :data="data[indextr].wide_poster">
                {{data[indextr].Phone}}
              </vs-td>
              <vs-td :data="data[indextr].wide_poster">
                {{data[indextr].Email}}
              </vs-td>
              <vs-td class="table-actions" :data="data[indextr]">
                
                <button @click="editItem(data[indextr])" 
                  type="button" class="btn edit btn-icon btn-round btn-warning2 btn-sm">
                  <vs-icon icon="edit"></vs-icon>
                </button>
                <button @click="deleteItem(data[indextr])" 
                  type="button" class="btn remove btn-icon btn-round btn-danger btn-sm">
                  <vs-icon icon="delete"></vs-icon>
                </button>
              </vs-td>
              
            </vs-tr>
            </template>
          </vs-table>
        </div>
      </vs-card>
      
    </vs-col>
  </vs-row>
</template>
<style lang='css'>
    ol {
        padding: 0!important;
    }
    .con-vs-dialog .vs-dialog footer{
          padding: 10px!important;
    } 
    .vs-dialog-text{
      padding: 20px!important;
      }
    
    
</style>
<script>
  import axios from '../../axios.js';
  //const self = this;
  export default {
    
      data:() => ({
        page: 1,
        max: 10,
        clients: [],
        editedIndex:0,
        editedItem:{},
        false:true

      }),
      methods:{
        createClient: function () {
          this.$router.push({ name: 'ClientForm' });
        },
        editItem (item) {
          this.editedIndex = this.clients.indexOf(item)
          this.editedItem = Object.assign({}, item)
          this.$router.push({ path: 'clientlist/'+this.editedItem.ClientId });
          //this.dialog = true
        },

        deleteItem (item) {
          this.editedIndex = this.clients.indexOf(item);
          this.editedItem = Object.assign({}, item);
          this.openConfirm();
        },
        openConfirm(){
          this.$vs.dialog({
            icon:'warning',
            type:'confirm',
            color: 'danger',
            title: `Confirm`,
            text: 'Are you sure want to remove this item(id:'+ this.editedItem.ClientId +')?',
            accept:this.acceptAlert
          });
        },
        acceptAlert(){
          this.deleteEvent(this.editedIndex,this.editedItem.ClientId);
          
        },
        deleteEvent: function(index,clientId) {
          this.$vs.loading();
          let self =this;
          new Promise((resolve,reject)=>{
            //axios.get('client/getall/'+self.$store.state.activeUser.id).then(response => {
            axios.delete('client/Delete/' + clientId).then(response => {
                //self.clients = response.data.Data;
                self.clients.splice(index, 1);
                self.$vs.notify({
                  icon:'delete',
                  color:'danger',
                  title:'Deleted image',
                  position:'top-right',
                  text:'The selected client "'+this.editedItem.Name+'" was successfully deleted'
                })
                resolve(response);
            }).catch(err => {
                reject(new Error(err.message));
            }).finally(() => this.$vs.loading.close());
          })
        
          
        }
      },
      computed: {
        user: {
          get() {
            return self.$store.state.activeUser
          },
          set() {
          }
        }
      },
      created(){
        this.$vs.loading();
        let self =this;
        new Promise((resolve,reject)=>{
          //axios.get('client/getall/'+self.$store.state.activeUser.id).then(response => {
          axios.get('client/getall').then(response => {
              self.clients = response.data.Data;
              resolve(response);
          }).catch(err => {
              reject(new Error(err.message));
          }).finally(() => this.$vs.loading.close());
        })
      }

    }
    </script>
