<template>
<vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-lg="12" vs-xs="12">
      <vs-card actionable class="cardx">
        <div slot="header">
          <h3 style="color:#676767">
            Home
          </h3>
        </div>
        <div slot="media">
        </div>
        <div>
          <span>Bienvenido !</span>
        </div>
        
      </vs-card>
    </vs-col>
  </vs-row>
</template>
<script>
  
    export default {
      components: {
      
      
      },
    
    };
</script>
<style>
</style>
