<template>
  <v-app id="inspire">
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="8">
            <v-card class="elevation-12">
              <v-window v-model="step">
                <v-window-item :value="1">
                  <v-row>
                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1 style="color:#21558F"
                          class="text-center display-2  text--accent-3 mb-16"
                        >Sign in </h1>

                        <v-form>
                          <v-text-field
                            label="Email"
                            name="Email"
                            prepend-icon="email"
                            type="text"
                           
                            v-model="email"
                          />

                          <v-text-field
                            id="password"
                            label="Password"
                            name="password"
                            prepend-icon="lock"
                            type="password"
                            v-model="password"
                          />
                        </v-form>
                        <h4  class="text-center mt-4 red--text"  v-if="state==='false'" >{{message}} </h4>
                        <h4  class="text-center mt-4"  v-else-if="state" > Wellcome back {{name}} </h4>
                        <h3 class="text-center mt-4">Forgot your password ?</h3>
                      </v-card-text>
                      <div class="text-center mt-3">
                        <v-btn rounded color="blue accent-3" dark @click="login()">SIGN IN</v-btn>
                      </div>
                    </v-col>
                    <v-col cols="12" md="4" style="background:#21558F" class=" accent-3">
                      <v-img src="../../assets/images/img/wavee_generated.jpg"></v-img>
                      <!-- <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">Hello, Friend! {{$store.state.carlos}} </h1>
                        <h5
                          class="text-center"
                        >Enter your personal details and start journay with us</h5>
                      </v-card-text> -->
                      <div class="text-center">
                        <v-btn rounded outlined dark @click="step++">SIGN UP</v-btn>
                      </div>
                    </v-col>
                  </v-row>
                </v-window-item>
                <v-window-item :value="2">
                  <v-row class="fill-height">
                    <v-col cols="12" md="4" class=" accent-3" style="background:#21558F">
                      <v-img src="../../assets/images/img/wavee_generated.jpg"></v-img>
                      <!-- <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">Welcome Back!</h1>
                        <h5
                          class="text-center"
                        >To Keep connected with us please login with your personnel info</h5>
                      </v-card-text> -->
                      <div class="text-center">

                        <v-btn rounded outlined dark @click="step--">Sign in</v-btn>
                      </div>
                    </v-col>

                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1 class="text-center display-2 teal--text text--accent-3 mb-16" style="color:#21558F!important">Create Account</h1>

                        <v-form>
                          <v-text-field
                            label="Name"
                            name="Name"
                            prepend-icon="person"
                            type="text"
                            v-model="name2"
                          />
                          <v-text-field
                            label="Email"
                            name="Email"
                            prepend-icon="email"
                            type="text"
                            v-model="email2"
                          />

                          <v-text-field
                            id="password"
                            label="Password"
                            name="password"
                            prepend-icon="lock"
                            type="password"
                            v-model="password2"
                          />
                        </v-form>
                      </v-card-text>
                      <h4  class="text-center mt-4"  v-if="state2" > {{message2}} </h4>
                      <div class="text-center mt-n5">
                        <v-btn rounded color="blue accent-3" dark @click="signup()">SIGN UP</v-btn>
                      </div>
                    </v-col>
                  </v-row>
                </v-window-item>
              </v-window>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>
<style scoped lang="css">
  @import "./Login.css";
</style>

<script>
  import userModel from '../../store/user/userModel';
  import * as registerStore from '../../store/registerStoreModule'

  export default {

    data: () => ({

      step: 1,
      id:0,
      email:'',
      name:'',
      password:'',
      state:false,
      message:'',
      token:'',
      email2:'',
      password2:'',
      state2:false,
      message2:'',
      name2:'',
    }),
    props: {
      source: String
    },
    methods: {
      //registerStoreModule,
      login(){
        // const loginData = {
        //   email: this.email,
        //   password: this.password,
        //   id:''
        // }
        //this.$vs.loading();
        //const vs = this.$vs;
        //this.$vs.loading();
        //const store = this.$store;
        // this.$store.dispatch('userStore/loginRequest',loginData)
        //   .then(() => {
        //     this.$vs.notify({
        //       title:'Success',
        //       text:store.state.userStore.apiMessage,
        //       color:'success',
        //       icon:'verified_user',
        //       position: 'top-right'
        //       });
            
        //     this.message = store.state.userStore.apiMessage;
        //     this.$store.commit('ACTIVE_USER', store.state.userStore.user);
        //     this.$store.commit('setToken', store.state.userStore.token);
        //     console.log(store.state.token)
        //     this.$router.push({ name: 'dashboard' });
        //   })
        //   .catch((err) => {
        //     console.log(err);
        //     vs.notify({
        //       icon:`error`,
        //       title:'Error',
        //       text:err.message,
        //       color: 'danger',
        //       position: 'top-right'
        //     });
        //   })
        //   .finally(() => this.$vs.loading.close());
        this.$store.commit('setToken', '23784u23kjkergwkerbsdfsdfweruiweur');
            this.$vs.notify({
              title:'Success',
              text:'Bienvenido',
              color:'success',
              icon:'verified_user',
              position: 'top-right'
              });
         this.$router.push({ name: 'dashboard' });
        //this.message = store.state.userStore.apiMessage;
        //console.log(this.$store.state.userStore.user);
      },
      register(){
        const loginData = {
          email: this.email,
          password: this.password,
          id:''
        }
        this.$store.dispatch('userStore/signupRequest',loginData);
        console.log(this.$store.state.userStore.user);
      }


    },
    beforeCreate() {
      registerStore.registerStoreModule({ module: userModel, moduleName: 'userStore', store: this.$store });
    },
    created(){
      //if(!this.$store.state.userStore){
        //this.$store.registerModule('userStore',userModel);
     // }
    }

  };
</script>